.appTypeManageContent {
    padding: 15px 20px;
}
:global {
    .ant-modal {
        .customModalContent {
            padding: 0;
        }
        .customModalHeader {
            padding: 14px;
            border-bottom: 1px solid #d0d6d9;
        }
        .customModalFooter {
            padding: 9px 10px 10px 10px;
            text-align: center;
            background: #ebf1f5;
            border-top: 1px solid #d5dce5;
            border-radius: 0 0 4px 4px;
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;

            button {
                padding: 0 50px;
                box-sizing: border-box;
                height: 40px;
            }
            .ant-btn-primary {
                margin-right: 20px;
            }
        }
    }
}
