.TreeSelectPopup {
    border: 1px solid #d5dce6;
    box-shadow: 0 2px 12px 6px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    :global {
        .ant-select-tree {
            color: #333;

            .ant-select-tree-indent {
                height: 17px;
            }

            .ant-select-tree-indent-unit {
                width: 12px;
                height: 17px;
            }

            .ant-select-tree-node-content-wrapper {
                padding: 0 3px 0 0;
                border-radius: 0;
                line-height: 17px;
                min-height: 17px;

                .ant-select-tree-iconEle {
                    width: 16px !important;
                    height: 16px !important;
                    display: inline-block !important;
                    margin-top: 1px;
                    vertical-align: top;
                    background-image: url('./treeBg.png');
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-attachment: scroll;

                    // margin-right: 5px;
                    span {
                        display: none;
                    }
                }
            }

            .ant-select-tree-node-content-wrapper:hover {
                background-color: #e5f2fa !important;
            }

            .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
                background-color: #c4e4f5 !important;
            }

            .ant-select-tree-node-content-wrapper-close {
                .ant-select-tree-iconEle {
                    width: 20px !important;
                    margin-right: 2px;
                    background-position: -130px 1px;
                }
            }

            .ant-select-tree-node-content-wrapper-open {
                .ant-select-tree-iconEle {
                    width: 20px !important;
                    margin-right: 2px;
                    background-position: -130px -15px;
                }
            }

            .ant-select-tree-node-content-wrapper-normal {
                .ant-select-tree-iconEle {
                    margin-right: 5px;
                    background-position: -128px -32px;
                }
            }

            .ant-select-tree-treenode {
                height: 22px;
                padding: 0;
                margin-bottom: 7px;

                .ant-select-tree-switcher {
                    width: 18px;
                    height: 18px;
                    margin-top: 2px;
                    background-image: url('./treeBg.png');
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-attachment: scroll;
                    transition: none;

                    // margin-right: 5px;
                    span {
                        display: none;
                    }
                }

                .ant-select-tree-switcher:before {
                    width: 0;
                    height: 0;
                }

                .ant-select-tree-switcher_close {
                    background-position: -92px -80px;
                }

                .ant-select-tree-switcher_open {
                    background-position: -108px -80px;
                }

                .ant-select-tree-switcher-noop {
                    background-image: none;
                }

                // 复选框
                .ant-select-tree-checkbox {
                    margin-top: 2px;
                }

                .ant-select-tree-checkbox .ant-select-tree-checkbox-inner {
                    border: 0;
                    border-radius: 0;
                    background-image: url('./treeBg.png');
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-attachment: scroll;
                    background-position: 0 0;
                    transition: none;
                }

                .ant-select-tree-checkbox .ant-select-tree-checkbox-inner:after {
                    width: 0;
                    height: 0;
                    display: none;
                }

                .ant-select-tree-checkbox:hover .ant-select-tree-checkbox-inner {
                    background-position: 0 -17px;
                }

                .ant-select-tree-checkbox.ant-select-tree-checkbox-indeterminate:hover .ant-select-tree-checkbox-inner,
                .ant-select-tree-checkbox.ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner {
                    background-position: -17px -34px;
                }

                .ant-select-tree-checkbox.ant-select-tree-checkbox-checked:hover .ant-select-tree-checkbox-inner,
                .ant-select-tree-checkbox.ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner {
                    background-color: #fff;
                    border: 0;
                    background-position: -17px 0;
                }
            }
        }

        .ant-select-tree-show-line {
            // .ant-select-tree-indent-unit:last-child:not(.ant-select-tree-indent-unit-start):not(.ant-select-tree-indent-unit-end) {
            //     background: url("./line.gif") 0 0 repeat-y;
            // }
            .ant-select-tree-indent-unit:before {
                border: 0;
                width: 12px;
                height: 22px;
                left: 0;
                background: url('./line.gif') 0 0 repeat-y;
            }

            .ant-select-tree-treenode {
                .ant-select-tree-switcher_close {
                    background-position: -90px -20px;
                }

                .ant-select-tree-switcher_open {
                    background-position: -106px -20px;
                }

                .ant-select-tree-indent:empty ~ .ant-select-tree-switcher_close {
                    background-position: -88px -60px;
                }

                .ant-select-tree-indent:empty ~ .ant-select-tree-switcher_open {
                    background-position: -106px -60px;
                }

                .ant-select-tree-switcher-noop {
                    background-image: url('./treeBg.png');
                    background-position: -68px -18px;
                }
            }

            .ant-select-tree-treenode-leaf-last {
                .ant-select-tree-switcher-noop {
                    background-position: -68px -38px;
                }
            }
        }

        .ant-select-tree-treenode-disabled {
            .ant-select-tree-node-content-wrapper {
                color: #999;
            }

            .ant-select-tree-node-content-wrapper:hover {
                background-color: #fff;
                background-position: 0 -34px;
            }

            .ant-select-tree-checkbox.ant-select-tree-checkbox-disabled .ant-select-tree-checkbox-inner {
                background-position: 0 -34px;
            }

            // .ant-select-tree-checkbox.ant-select-tree-checkbox-disabled .ant-select-tree-checkbox-inner:after {
            //     di
            // }

            .ant-select-tree-checkbox.ant-select-tree-checkbox-disabled.ant-select-tree-checkbox-indeterminate:hover .ant-select-tree-checkbox-inner,
            .ant-select-tree-checkbox.ant-select-tree-checkbox-disabled.ant-select-tree-checkbox-indeterminate .ant-select-tree-checkbox-inner {
                background-position: -17px -51px;
            }

            .ant-select-tree-checkbox.ant-select-tree-checkbox-disabled.ant-select-tree-checkbox-checked:hover .ant-select-tree-checkbox-inner,
            .ant-select-tree-checkbox.ant-select-tree-checkbox-disabled.ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner {
                background-color: #fff;
                border: 0;
                background-position: -17px -17px;
            }
        }

        .ant-select-tree-treenode-draggable .ant-select-tree-draggable-icon {
            display: none;
        }
    }
}
.select-override {
    .ant-select-selector {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        color: inherit;
    }

    .ant-select-selection-item {
        font-size: inherit;
        line-height: inherit !important;
        font-weight: inherit;
        color: inherit;
    }

    .ant-select-selection-placeholder {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
    }

    .ant-select-selection-search-input {
        font-size: inherit;
    }
}
