.tenantBox {
    height: 100%;
    padding: 0 12px;
    background: #fff;
    .tenantTop {
        height: 52px;
        line-height: 52px;
        position: relative;
        padding-left: 18px;
        .tenantTitle {
            font-size: 16px;
            color: #333333;
        }
        .backBtn {
            position: absolute;
            right: 6px;
            top: 0;
            color: #0085d0;
            cursor: pointer;
        }
        .backArrow {
            margin-right: 7px;
        }
    }
}
.tenantTitlefh {
    color: #333333;
    font-weight: bold;
    font-size: 16px;
}
.backBtnfhi {
    position: absolute;
    right: 6px;
    top: 0;
    color: #0085d0;
    cursor: pointer;
}
.topbox{
    display: flex;
    position: relative;
    margin-top: 10px;
    .leftBox{
        //width: 75.5%;
        width: 100%;
        height: 100%;
        margin-right: auto;
        .leftbox1{
            background: #fff;
            width: 100%;
            height: 90px;
            border: 1px solid #fff;
            margin-bottom: 5px;
        }
        .leftbox2{
            background: #fff;
            width: 100%;
            overflow: hidden;
            height: 350px;
            border: 1px solid #fff;
            margin-bottom: 5px;
        }
        .leftbox3{
            background: #fff;
            width: 100%;
            height: 240px;
            border: 1px solid #fff;
            margin-bottom: 5px;
        }
        .leftbox4{
            background: #fff;
            width: 100%;
            height: 300px;
            border: 1px solid #fff;
            margin-bottom: 5px;
        }
    }
    .rightBox{
        width: 24%;
        height: 100%;
        margin-left: auto;
        .rightBox1{
            background: #fff;
            width: 100%;
            height: 100px;
            border: 1px solid #fff;
            margin-bottom: 5px;
        }
        .rightBox2{
            background: #fff;
            width: 100%;
            height: 500px;
            border: 1px solid #fff;
            margin-bottom: 5px;
        }
        .rightBox3{
            background: #fff;
            width: 100%;
            height: 200px;
            border: 1px solid #fff;
            margin-bottom: 5px;
        }
        .rightBox4{
            background: #fff;
            width: 100%;
            height: 100px;
            border: 1px solid #fff;
            margin-bottom: 5px;
        }
    }
}
