.fold{
    display: inline-block;
    margin-left: 5px;
    color: #006aff;
    cursor: pointer;
}

.btn-row{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: -5px;
}

.btn-row > * {
    margin-top: 5px;
}

.btn-left{
    margin-left: 5px;
}
