.customLightTooltip :global(.ant-tooltip-inner) {
    background-color: #f9f9f9 !important;
    color: #333333 !important;
}

/* 底部/侧边的小三角颜色 */
.customLightTooltip :global(.ant-tooltip-arrow) {
    --antd-arrow-background-color: #f9f9f9 !important;
    width: 0 !important;
    height: 0 !important;
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    border-bottom: 8px solid #f9f9f9 !important; 
}
