.mCard{

    .extraButton{
        padding: 0;
    }
    .cardChildren {
        margin-top: 10px;
        width: 100%;
    }
}

.mCard.headBackColor{
    .ant-card-head{
        background-color: #D4E9F5;
    }
}
