.title {
    background: var(--ngap-theme-bg-color);
    border-top: 1px solid var(--ngap-theme-card-border-color);
    color: var(--ngap-theme-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 0 10px;
}
.apiTreeData {
    :global {
        .ant-select-selector {
            border-radius: 6px 0 0 6px;
        }
    }
}
.apiButton {
    background-color: #fff !important;
    border-color: rgb(217, 217, 217) !important;
    border-radius: 0 6px 6px 0;
    border-left: none !important;
}
