.serviceOrchestrationPage {
    height: 100%;
    width: 100%;
    font-size: 0px;

    .dataSourceManage {
        height: 100%;
        width: 100%;
        font-size: 0px;

        .dataSourcePage {
            height: 100%;
            width: 100%;
        }
    }
}
