.processCanvas {
    background: #e0e7ee;
    height: 100%;
    overflow-y: hidden;
    .nodeCanvasPage {
        height: 100%;
    }
}

/* 流程节点样式 */
.canvasNodeBlock {
    position: absolute;
    min-width: 88px;
    box-sizing: border-box;
    background: #ffffff;
    /*min-height: 60px;*/
    /*padding-bottom: 8px;*/
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #dae1e6;
    border-radius: 4px;
}
.errorTipNode {
    border: 1px solid #f65a56;
}
.canvasNodeBlock .errorTipDiv {
    display: none;
    font-size: 12px;
    color: #f65a56;
    position: absolute;
    top: -26px;
}
.canvasNodeBlock .errorTipDiv > img {
    height: 14px;
    vertical-align: middle;
    margin-right: 8px;
}
.errorTipNode .errorTipDiv {
    display: block;
}

.canvasNodeBlock .allowLineDom {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    top: calc(50% - 4px);
    right: -4px;
    box-sizing: border-box;
    background: #0085d0;
    transition: width 300ms, height 300ms, top 300ms, right 300ms;
}
.canvasNodeBlock .allowLineDom:hover {
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGZJREFUOE/tk8EVgDAIQ2EMmM4OoUPUIXQ6GCN9+OqxfdZeyxWSQz5hmhzu6d09x15EjtZd18DMEEJVbd4tA6InA3e/AGwjRJn5FpH0GmQA+6DBGXgXhUqhFd70KwfeWqb0q0xfsBZhJUARNbhPIAAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.canvasNodeBlock .topBtnDiv {
    display: none;
    position: absolute;
    top: 38px;
    right: 8px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    background: #ffffff;
    padding: 4px;
    z-index: 1;
}
.canvasNodeBlock .addBranchBtn {
    display: none;
    position: absolute;
    background: #fff;
    left: 0;
    bottom: -28px;
    color: #90c31f;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 4px;
    z-index: 1;
}
.canvasNodeBlock .topBtnDiv > div {
    padding: 8px;
    font-size: 14px;
    width: 108px;
    color: #666666;
    border-radius: 4px;
}
.canvasNodeBlock .topBtnDiv > div:hover {
    background: #f1f1f1;
}

.canvasNodeBlock .topBtnDiv img {
    height: 14px;
    width: 14px;
    margin: 2px 4px;
}
.canvasNodeBlock .nodePage {
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    padding: 0px 12px;
}
.canvasNodeBlock .nodePage .operateBtnDiv {
    float: right;
    display: none;
}

.businessNode .nodePage .operateBtnDiv {
    display: block;
}

.canvasNodeBlock .nodePage .operateBtnDiv > div {
    display: inline-block;
}
.canvasNodeBlock .nodePage .operateBtnDiv img {
    vertical-align: middle;
    width: 16px;
    margin-left: 8px;
}
.canvasNodeBlock .nodePage .nodeTypeImg {
    width: 20px;
    height: 20px;
    margin-left: 0px;
    margin-right: 2px;
    vertical-align: middle;
}
.canvasNodeBlock .nodePage .nodeTitle {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}
.businessNodeBlock {
    width: 230px;
}
.businessNodeBlock .nodePage .nodeTitle {
    width: 126px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.canvasNodeBlock .optionsBlock {
    box-sizing: border-box;
    border: 1px solid #999999;
    border-radius: 3px;
    margin: 4px 8px;
    display: none;
}
.canvasNodeBlock .activeOptions {
    border: 1px solid #0085d0;
}

.canvasNodeBlock .optionsBlock .optionDiv {
    box-sizing: border-box;
    padding: 4px 8px;
    border-bottom: 1px solid #999999;
    position: relative;
}

.canvasNodeBlock .optionsBlock > :last-child {
    border-bottom: 0px;
}

/* 连线样式 */
.connectionLine div {
    position: absolute;
    background: #0085d0;
    width: 2px;
    height: 2px;
    border: none;
}
.connectionLine .endLineAfter {
    right: 9px;
}
.connectionLine .endLineAfter::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -3px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #0085d0;
    transform: rotate(-90deg);
}
.connectionLine .leftAfter::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -3px;
    left: -6px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #0085d0;
    transform: rotate(90deg);
}
#config-page .conditionalBranchConfig {
    background: #fff;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    height: calc(100% - 50px);
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    z-index: 21;
}
