.common-empty-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .common-empty-image{
        width: 74px;
    }

    .common-empty-desc{
        margin-top: 20px;
        color: #999999;
        font-size: 12px;
    }
}
