.filter-bar {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.sub-card {
    padding: 12px;
}
.filter-row {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
}

.filter-item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 33%;
}

.filter-item-top {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.label {
    min-width: 80px;
    text-align: right;
}

.label-top {
    margin-top: 4px;
}

.filter-input {
    width: 200px;
}

.action-buttons {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    margin-top: 16px;
}

.result-info {
    margin-bottom: 8px;
    font-weight: bold;
}

.table-container {
    // margin-left: 12px;
}
