.filter-bar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 10px;
    padding-right: 20px;
}

.content-layout {
    // padding: 0 24px 24px;
    background: #fff;
    .ant-tabs-nav {
        .ant-tabs-tab {
            width: 88px;
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
}
.filter-row {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

.filter-item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 33%;
}

.filter-item-top {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.label-app {
    min-width: 80px;
    text-align: right;
}

.label-component {
    min-width: 80px;
    text-align: right;
}

.label-top {
    margin-top: 4px;
}

.filter-input {
    flex: 1;
}

.action-buttons {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.result-title {
    margin-bottom: 8px;
    font-weight: bold;

    margin-left: 12px;
    margin-top: 20px;
}

.table-container {
    margin-left: 12px;
    // margin-top: 16px;
    // height: 300px;
    // overflow: auto;
}
