.tableSpin {
    text-align: center;
   .spinText{
       color: #999;
   }
}

.spinText {
    color: #666;

}

// .circlespin-wrap {
//     text-align: center;
// }

.logoSpin {
    display: flex;
    align-items: center;

}
