.china-map-wrap {
    width: 100%;
    position: relative;

    .china-map {
        width: 100%;
        height: 600px;
    }

    .desc {
        position: absolute;
        left: 20px;
        bottom: 20px;
        color: #333333;

        .desc-title {
            font-size: 14px;
        }
        .desc-item{
            display: flex;
            align-items: center;
        }
    }

    .tips-wrap{
        .tips-title{
            font-weight: 600;
        }

        .tips-item-wrap{
            min-width: 120px;
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            .tips-item-content{
                font-weight: 600;
            }
        }
    }

}
