.common-list-wrap {
    padding: 0 10px;

    .common-list-buttons{
        display: flex;
        justify-content: flex-end;

        .btn-right{
            margin-left: 10px;
        }
    }

    .common-list-table-wrap{
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .common-list-pagination {
            margin-top: 20px;
            align-self: flex-end;
        }
    }
}
