.select-override {
    .ant-select-selector {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        color: inherit;
    }

    .ant-select-selection-item {
        font-size: inherit;
        line-height: inherit !important;
        font-weight: inherit;
        color: inherit;
    }

    .ant-select-selection-placeholder {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
    }

    .ant-select-selection-search-input {
        font-size: inherit;
    }
}
