.checkbox-override{
    // font-size: inherit;
    column-gap: 0px;

    .ant-checkbox-wrapper{
    line-height: inherit !important;
    text-align: inherit;
    color: inherit;
    font-size: inherit;
    
}
}
